---
#
---
@charset "utf-8";

$primary: #00CC85;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    display: inline;
    white-space: nowrap;
    padding: 0 1em;
  }
}

section {
  margin-bottom: 2em;
}

.portrait {
  @extend .d-flex;
  @extend .justify-content-center;

  margin: 4em 0;

  img {
    width: 200px;
    height: 200px;
    border: 0.3em solid #fff;
    box-shadow: 0 0 1em 0 rgba(1, 1, 1, 0.15);
  }
}

.social-icons a {
  color: #ccc;

  &:hover {
    color: $primary;
  }
}
