@font-face {
    font-family: 'Linux Libertine';
    font-style: normal;
    font-weight: 400;
    src: local('Linux Libertine O'), url(/assets/fonts/linuxlibertine/400.woff) format('woff')
}

@font-face {
    font-family: 'Linux Libertine';
    font-style: italic;
    font-weight: 400;
    src: local('Linux Libertine O Italic'), url(/assets/fonts/linuxlibertine/400i.woff) format('woff')
}

@font-face {
    font-family: 'Linux Libertine';
    font-style: normal;
    font-weight: 700;
    src: local('Linux Libertine O Bold'), url(/assets/fonts/linuxlibertine/700.woff) format('woff')
}

@font-face {
    font-family: 'Linux Libertine';
    font-style: italic;
    font-weight: 700;
    src: local('Linux Libertine O Bold Italic'), url(/assets/fonts/linuxlibertine/700i.woff) format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), url(/assets/fonts/opensans/400.woff) format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), url(/assets/fonts/opensans/400i.woff) format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), url(/assets/fonts/opensans/700.woff) format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), url(/assets/fonts/opensans/700i.woff) format('woff')
}
