# system
.DS_Store

# IDE
.idea/

# jekyll
.sass-cache
.jekyll-cache
.jekyll-metadata

# generated
_site/
public/

# Node.js
node_modules/

# tmp
.cache/

# Vite Ruby
/public/vite*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local

