---
layout: default
---

<div class="teaserimage">
  <div class="teaserimage-image" {% if site.cover
       %}style="background-image: url({{ site.cover | prepend: site.baseurl }})" {% endif %}>
    Teaser Image
  </div>
</div>

<header class="blog-header">
  {% if site.logo %}
  <a class="blog-logo" href="{{site.url}}{{site.baseurl}}"
     style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
  {% endif %}
  <h1 class="blog-title">{{ site.title }}</h1>
  <h2 class="blog-description">{{ site.description }}</h2>
  <div class="custom-links">
    {% for social in site.social %}
    {% if social.url %}
    <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}" {%
       endif %}">
    <i class="fa fa-{{ social.icon }}"></i>
    </a>
    &nbsp;&nbsp;·&nbsp;&nbsp;
    {% endif %}
    {% endfor %}
    <a href={{"/lectures/" | prepend: site.baseurl }}>Lectures</a>
    <a href={{"/projects/" | prepend: site.baseurl }}>Projects</a>
    <a href={{"/talks/" | prepend: site.baseurl }}>Talks & Volunteer Work</a>
  </div>
</header>

<main class="content" role="main">

  <div class="cf frame">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
      <div class="article-item">
        <header class="post-header">
          <h2 class="post-title" itemprop="name">What I do</h2>
        </header>
        <section class="post-excerpt" itemprop="description">
          {{ content }}
        </section>
      </div>
    </article>
  </div>

</main>
