<nav
  id="navigation"
  class="flex bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 gap-4 transition-opacity opacity-100 ease-out">
<!--  <a class="text-lg font-medium" href={{"/blog/" | prepend: site.baseurl }}>Blog</a>-->
  <a class="text-lg font-medium" href={{"/projects/" | prepend: site.baseurl }}>Projects</a>
  <a class="text-lg font-medium" href={{"/lectures/" | prepend: site.baseurl }}>Lectures</a>
  <a class="text-lg font-medium" href={{"/community/" | prepend: site.baseurl }}>Community</a>
  <a class="text-lg font-medium" href={{"/contact/" | prepend: site.baseurl }}>Contact</a>
</nav>
