.isLeft .author-image {
  display: block;
  width: 80px;
  height: 80px;
  float: left;
  background-size: cover;
  border-radius: 100%;
  text-indent: -9999px;
}

.post-excerpt {
  img {
    width: 100%;
    height: auto;
  }

  video {
    width: 100%;
  }
}

.text-muted {
  color: #ccc;
}

small::after {
  content: "\A";
  white-space: pre;
}
