@import "../../node_modules/bootstrap/less/variables";
@import "../../node_modules/bootstrap/less/mixins";
@import "../../node_modules/bootstrap/less/normalize";
@import "../../node_modules/bootstrap/less/scaffolding";
@import "../../node_modules/bootstrap/less/type";
@import "../../node_modules/bootstrap/less/grid";
@import "../../node_modules/bootstrap/less/labels";
@import "../../node_modules/bootstrap/less/utilities";
@import "../../node_modules/bootstrap/less/responsive-utilities";

@brand-primary: #00CC85;

html {
  height: 100%
}

body {
  min-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

section {
  display: block;
}

ul {
  padding: 0;
  list-style-type: none;

  li {
    display: inline;
    white-space: nowrap;
    padding: 0 1em;
  }
}
