section
  .row
    .col-sm-6.col-sm-offset-3
      h2 Talks
      ul.list-unstyled
        li
          p
            | OTSConf 2015
            br
            a(href="https://otsconf.com/") OpenTechSchool Conference
            br
            a(href="http://slidr.io/eliias/the-full-stack-education-paradoxon") Slides – The full-stack education paradoxon
        li
          p
            | JSUnconf 2015
            br
            a(href="http://2015.jsunconf.eu/") JSUnconf 2015
            br
            a(href="http://de.slideshare.net/1078719436/i-teaching") Slides – I 💖 teaching
        li
          p
            | Salzburg Web Dev
            br
            a(href="http://www.meetup.com/salzburgwebdev/events/165905472/") Salzburg Web Dev
            br
            a(href="https://php-nodejs.hannes-moser.com/#/") Slides – Von PHP zu Node.js
