<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
{% include head.html %}
<body>
{% include header.html %}

<div class="mt-4 mb-20 w-full">
  <div class="bg-white rounded-xl container mx-auto shadow-lg shadow-gray-100/1 ring-1 ring-gray-100">
    {% include navigation-top.html %}
  </div>
</div>

<main class="container mx-auto content" role="main">
  {% if site.paginate %}
  {% assign posts = paginator.posts %}
  {% else %}
  {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
  {%- if page.list_title -%}
  <h2 class="text-3xl font-bold">{{ page.list_title }}</h2>
  {%- endif -%}
  <ul>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
    -%}
    {%- for post in posts -%}
    <li class="mb-10">
      <h4 class="text-md text-gray-600">{{ post.date | date: date_format
        }}</h4>
      <h3 class="text-3xl font-bold">
        <a class="" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {% if site.paginate %}
  <div class="pager">
    <ul class="pagination">
      {%- if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | relative_url }}"
             class="previous-page">{{ paginator.previous_page }}</a></li>
      {%- else %}
      <li>
        <div class="pager-edge">•</div>
      </li>
      {%- endif %}
      <li>
        <div class="current-page">{{ paginator.page }}</div>
      </li>
      {%- if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | relative_url }}"
             class="next-page">{{ paginator.next_page }}</a></li>
      {%- else %}
      <li>
        <div class="pager-edge">•</div>
      </li>
      {%- endif %}
    </ul>
  </div>
  {%- endif %}
  {%- endif -%}
</main>
{% include footer.html %}
{% include javascripts.html %}
</body>
</html>
