<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
{% include head.html %}
<body>
{% include header.html %}

<div class="mt-4 mb-20 w-full">
  <div class="bg-white rounded-xl container mx-auto shadow-lg shadow-gray-100/1 ring-1 ring-gray-100">
    <nav class="flex items-center justify-between p-4 top-0 animated bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 gap-6">
      <a class="text-lg font-medium text-black justify-self-start mr-10" href={{"/" | prepend: site.baseurl }}>Hannes Moser</a>
      <!--      <a class="text-lg font-medium" href={{"/blog/" | prepend: site.baseurl }}>Blog</a>-->
      <a class="text-lg font-medium" href={{"/projects/" | prepend: site.baseurl }}>Projects</a>
      <a class="text-lg font-medium" href={{"/lectures/" | prepend: site.baseurl }}>Lectures</a>
      <a class="text-lg font-medium" href={{"/community/" | prepend: site.baseurl }}>Community</a>
      <a class="text-lg font-medium" href={{"/contact/" | prepend: site.baseurl }}>Contact</a>
    </nav>
  </div>
</div>

<main class="container mx-auto content" role="main">
  <h1>{{ page.title }}</h1>

  {{ content }}
</main>

{% include footer.html %}
{% include javascripts.html %}
</body>
</html>
